<header class="has-background-dark">
  <nav class="columns is-vcentered is-mobile container is-fluid py-3" role="navigation" aria-label="main navigation">
    <div class="column py-0">
      <a routerLink="" >
        <img src="assets/images/dev-mate-logo.svg" width="140"/>
      </a>
    </div>
    <div class="column has-text-right">
      <button [routerLink]="[{ outlets: { primary: 'logs', logslist: 'logs' }}]"  class="my-logs-btn button is-light is-outlined is-small has-text-weight-semibold">
        <span class="icon">
          <i class="fas fa-stream"></i>
        </span>
        <span>My Logs</span>
        <span class="notification-circle has-background-danger">1</span>
      </button>
    </div>
  </nav>
</header>
