<section>
  <div class="container">
    <div class="columns is-vcentered">
      <!-- Left column -->
      <div class="column has-text-centered-mobile">
        <h1 class="title">
          Welcome to <span class="has-text-danger">Dev Mate</span>
        </h1>
        <h2 class="subtitle">
          Simple and easy logger for your features, to keep your project's developpement fast and tidy.
        </h2>
        <button [routerLink]="[{ outlets: { primary: 'logs', logslist: 'logs' }}]" class="button is-medium is-danger">
          <span class="icon">
            <i class="fas fa-meteor"></i>
          </span>
          <span>Start now</span>
        </button>
      </div>
      <!-- right column -->
      <div class="column has-text-centered has-text-centered-mobile">
        <img src="assets/images/home-illustration.png" alt="home-illustration" width="80%">
        <p class="is-size-7">illustration courtesy of <strong>absurd.design</strong></p>
      </div>
    </div>
  </div>
</section>