<app-navbar></app-navbar>
<main>
  <article class="hero is-light is-bold is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <router-outlet></router-outlet>
        <router-outlet name="logslist"></router-outlet>
      </div>
    </div>
    <div class="hero-footer ml-5">
      <a href="https://github.com/Kuohamkun" class="has-text-grey is-size-5 mr-2">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://instagram.com/kuo_ham_kun" class="has-text-grey is-size-5 mr-2">
        <i class="fab fa-instagram"></i>
      </a>
      <span class="is-size-7">&copy; 2020</span>
    </div>
  </article>

  <div class="notification is-info " [hidden]="notification == null">
    <button class="delete" (click)="hideNotification()"></button>
    {{ notification }}
  </div>
</main>