<section class="columns is-centered">
  <div class="column is-half">
    <div class="panel has-background-white">
      <a *ngFor="let log of logs" class="panel-block" (click)="editLog(log)"
        [class.has-background-white-ter]="log == selectedLog">
        <div class="columns is-vcentered is-mobile" style="width: 100%;" >
          <span class="column is-7 has-text-info">{{ log.title }}</span>
          <span class="column is-4 has-text-grey-light has-text-centered">
            {{ log.updatedAt | date}}
          </span>
          <span class="column is-1 has-text-right px-0">
            <a (click)="showDeleteModal(log)" class="tag is-delete"></a>
          </span>
        </div>
      </a>
      <div *ngIf="logs.length == 0" class="panel-block columns has-text-centered mt-2">
        <p class="column has-text-grey-light is-italic ">No logs</p> 
      </div>
    </div>
  </div>
</section>

<!-- Modal : Confirm Delete operation -->
<div class="modal" [class.is-active]="isShowModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" (click)="closeDeleteModal()" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>Are you sure you want to delete this log ?</p>
    </section>
    <footer class="modal-card-foot py-2">
      <button class="button is-danger" (click)="removeLog(selectedLog)">Delete log</button>
      <button class="button" (click)="closeDeleteModal()">Cancel</button>
    </footer>
  </div>
</div>