<section class="columns is-centered">
  <div class="column is-half">
    <div class="card ">
      <div class="card-header">
        <div class="card-header-title">
          <h1 class="title is-size-4">Add New Log</h1>
        </div>
      </div>
      <div class="card-content">
        <form #logForm=ngForm (ngSubmit)="onSubmit(logForm)">
          <div class="field">
            <div class="control">
              <input 
                class="input is-shadowless"
                name="title" type="text" placeholder="Log title"
                [(ngModel)]="log.title" required>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column is-8">
              <button class="button is-danger is-small has-text-weight-semibold"
                type="submit"
                [disabled]="!logForm.form.valid"
                [class.is-hidden]="isEditState">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Add</span>
              </button>
              <button class="button is-small is-warning has-text-weight-semibold"
                type="button"
                [disabled]="!logForm.form.valid"
                [class.is-hidden]="!isEditState"
                (click)="updateLog()">
                <span class="icon"><i class="fas fa-edit"></i></span>
                <span>Edit</span>
              </button>
              <a class="button is-small has-background-grey has-text-white has-text-weight-semibold ml-2"
                [class.is-hidden]="!logForm.form.valid"
                (click)="logForm.reset()">
                <span class="icon"><i class="fas fa-eraser"></i></span>
                <span>Clear</span> 
              </a>
            </div>
            <div class="column has-text-right is-4">
              <button class="button is-small is-text has-text-weight-semibold"
                type="button"
                [class.is-hidden]="!isEditState"
                (click)="cancelEdit()">
                <span>Cancel</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>